html {  
    scroll-behavior: smooth;  
}
body {
    height: 100%;
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
   
}

.btn-contact {
    margin-top: 40px;
    padding: 15px 20px;
    color: antiquewhite;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    background-color: rgba(137, 43, 226, 0.938);
}
.btn-contact:hover .rotate{
    rotate: 360deg;
    transition: 1.5s;
}
.btn-contactSubmit:hover .rotate{
    rotate: 360deg;
    transition: 1.5s;
}

.btn-git{
    margin-top: 20px;
    padding: 15px 20px;
    color: antiquewhite;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    background-color: rgba(137, 43, 226, 0.938);
}

.btn-contact:hover, .btn-git:hover, .btn-contactSubmit:hover {
    background-color: rgba(137, 43, 226, 0.615);
}

.slide{
    margin-bottom: 150px; 
    /* margin-left: 200px; */
}
.padding{
    padding-left: 500px;
    padding-bottom: 10px;
}
.img-slide{
    width:30%; 
    margin-left: 200px; 
    margin-bottom: 70px;
}

.first_Image {
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 55px;
    margin-right: 30px;
    width: 350px;
    height: 530px;
}

.high-level {
    font-size: 20px;
    font-weight: 400;
    color: rgb(212, 211, 211);
}

.icons {
    margin: 35px 10px;
    font-size: 23px;
    color:gainsboro;
}
.contact-icons {
    margin: 5px 10px;
    font-size: 28px;
    color:gainsboro;
}

.accordion-item,
.accordion-header,
.accordion-collapse {
    background: rgba(100, 65, 165,0);
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    background: linear-gradient(to right, rgba(42, 8, 69,0), rgba(100, 65, 165,0));
}

.accordion-item .accordion-button {
    background: rgba(100, 65, 165,0.4);
    background: -webkit-linear-gradient(to right, rgba(42, 8, 69,0.4), rgba(100, 65, 165,0.4));
    background: linear-gradient(to right, rgba(42, 8, 69,0.4), rgba(100, 65, 165,0.4));
}
.bg-card{
    border-radius: 0;
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, rgba(100, 65, 165,0));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, rgba(100, 65, 165,0));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-card2{
    border-radius: 0;
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgba(42, 8, 69,0), rgba(100, 65, 165,0));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgb(42, 8, 69), rgba(100, 65, 165,0));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-card3{
    border-radius: 0;
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgba(42, 8, 69,0), rgba(100, 65, 165,0));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(42, 8, 69,0), rgba(100, 65, 165,0));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.bg-progress{
    background-color: #6441A5;
}
.Contact-Div
{
    display: flex;
}

.contactMe{
    color: rgba(212, 211, 211, 0.933); 
    font-size:19px; 
    font-weight:500;
    margin: 0 30px 20px 0;
}

.contactMe:hover .contact-icons{
    rotate: 360deg;
    transition: rotate 1.5s;
    color: rgb(129, 71, 255);
}

.modal-email{
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5);
    color: rgba(233, 232, 232, 0.974);
    border: 0;
    padding-left: 50px;
}
.modal-wht
{
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5);
    color: rgba(233, 232, 232, 0.974);
    border: 0;
}

.contactGrid{
    display: grid;
    grid-template-columns: auto auto ;
    margin: 50px 80px 50px 250px;
    
}

.inputContacts
{
    margin-top: 30px;
}
.contact-input{
    padding: 15px 125px 15px 35px;
    margin: 10px;
}
.contact-textArea{
    padding: 15px 145px 65px 35px;
    margin: 10px;
}
.btn-contactSubmit {
    margin: 10px;
    padding: 12px 30px;
    color: antiquewhite;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    background-color: rgba(137, 43, 226, 0.938);
}

 

@media screen and (max-width: 680px) {
    
    .resp-hidden{
        display: none;
    }
}