html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: #6441A5;
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    background: linear-gradient(to right, #2a0845, #6441A5);
    color: white;
}

@keyframes myAnimation {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.navEffect {
    text-align: center;
    font-weight: 600;
}

.navEffect:hover {
    background-color: rgba(42, 8, 69, 0.5);
    border-radius: 10%;
    transition: 1s;
}

.part_2 {
    display: flex;
    margin: 50px;
    animation-name: myAnimation;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.part_2_inside {
    margin: 50px;
}

.part_2_inside_h2 {
    margin-top: 45px;
    font-weight: 600;
}

.part_2_inside_h5 {
    margin-top: 13px;
    margin-bottom: 30px;
}

.btn-contact {
    margin-top: 40px;
    padding: 15px 20px;
    color: antiquewhite;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    background-color: black;
}

.btn-contact:hover .rotate {
    rotate: 360deg;
    transition: 1.5s;
}

.btn-contactSubmit:hover .rotate {
    rotate: 360deg;
    transition: 1.5s;
}

.btn-git {
    margin-top: 20px;
    padding: 15px 20px;
    color: antiquewhite;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    background-color: black;
}

.btn-live-link {
    margin-top: 20px;
    padding: 13px 120px;
    color: antiquewhite;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    background-color: black;
}

.btn-contact:hover,
.btn-git:hover,
.btn-contactSubmit:hover,
.btn-live-link:hover {
    transition: 1.5s;
    background-color: rgba(137, 43, 226, 0.938);
}

.slide {
    margin-bottom: 150px;
    /* margin-left: 200px; */
}

.slide2 {
    margin-bottom: 80px;
}

.padding {
    padding-left: 500px;
    padding-bottom: 0px;
}

.img-slide {
    width: 30%;
    margin-left: 200px;
    margin-bottom: 70px;
}


.img-slideLast {
    width: 30%;
    margin-left: 200px;
    margin-bottom: 70px;
}

.img-slide2 {
    width: 30%;
    margin-left: 200px;
    margin-bottom: 70px;
}

.img-slide3 {
    width: 30%;
    margin-left: 200px;
    margin-bottom: 70px;
}

.img-slide4 {
    width: 30%;
    margin-left: 200px;
    margin-bottom: 70px;
}

.img-slide5 {
    width: 30%;
    margin-left: 200px;
    margin-bottom: 70px;
}

.img-slide6 {
    width: 30%;
    margin-left: 200px;
    margin-bottom: 70px;
}

.first_Image {
    border-radius: 0% 15%;
    margin-top: 30px;
    margin-left: 55px;
    margin-right: 30px;
    width: 375px;
    height: 530px;
    box-shadow: 8px 10px 20px rgb(26, 25, 25);
}

.high-level {
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(212, 211, 211);
}

.aboutMe {
    padding: 20px 50px 0 50px;
    animation-name: myAnimation;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.skills {
    margin: 30px 50px 50px 50px;
    animation-name: myAnimation;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.icons {
    margin: 35px 10px;
    font-size: 23px;
    color: gainsboro;
}

.contact-icons {
    margin: 5px 10px;
    font-size: 28px;
    color: gainsboro;
}

.accordion-item,
.accordion-collapse {
    background: rgba(100, 65, 165, 0);
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    background: linear-gradient(to right, rgba(42, 8, 69, 0), rgba(100, 65, 165, 0));
}

.accordion-header {
    background-color: #040D12;
    border-radius: 8px;
}

.accordion-item .accordion-button {
    background: rgba(100, 65, 165, 0.4);
    background: -webkit-linear-gradient(to right, rgba(42, 8, 69, 0.4), rgba(100, 65, 165, 0.4));
    background: linear-gradient(to right, rgba(42, 8, 69, 0.4), rgba(100, 65, 165, 0.4));
}

.bg-card {
    border-radius: 0;
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, rgba(100, 65, 165, 0));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, rgba(100, 65, 165, 0));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-card2 {
    border-radius: 0;
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgba(42, 8, 69, 0), rgba(100, 65, 165, 0));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgb(42, 8, 69), rgba(100, 65, 165, 0));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-card3 {
    border-radius: 0;
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgba(42, 8, 69, 0), rgba(100, 65, 165, 0));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(42, 8, 69, 0), rgba(100, 65, 165, 0));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.bg-progress {
    background-color: #040D12;
    /* background-color: #9400FF; */
    /* background-color: #713ABE; */
    /* background-color: #6441A5; */

}

.link-flex {
    display: flex;
}

.Contact-Div {
    display: flex;
    margin-bottom: 50px;
}

.contactMe {
    color: rgba(212, 211, 211, 0.933);
    font-size: 19px;
    font-weight: 500;
    margin: 0 30px 20px 0;
    text-decoration: none;
}

.contactMe:hover {
    color: rgba(212, 211, 211, 0.933);
}

.contactMe:hover .contact-icons {
    rotate: 360deg;
    transition: 1.5s;
    color: rgb(129, 71, 255);
}

.certificate-p:hover .certificate-icon {
    rotate: 360deg;
    transition: 1.5s;
}

.modal-email {
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5);
    color: rgba(233, 232, 232, 0.974);
    border: 0;
    padding-left: 50px;
}

.modal-wht {
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5);
    color: rgba(233, 232, 232, 0.974);
    border: 0;
}


.contactGrid {
    display: grid;
    grid-template-columns: auto auto;
    margin: 50px 80px 50px 250px;

}

.inputContacts {
    margin-top: 30px;
}

.contact-input {
    padding: 15px 125px 15px 35px;
    margin: 10px;
}

.contact-textArea {
    padding: 15px 145px 65px 35px;
    margin: 10px;
}

.btn-contactSubmit {
    margin: 10px;
    padding: 12px 30px;
    color: antiquewhite;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    background-color: black;
}

.container-research {
    margin-bottom: 50px;
}

.footer {
    display: flex;
    text-align: top center;
    padding: 20px 50px 40px 0px;
    background-color: rgba(0, 0, 0, 0.95);
    color: azure;
}

.inside-footer {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 150px;
}

.second-part-footer {
    margin: 20px 80px 0 80px;
}

.footer_p {
    margin: 15px;
}

.third-part-footer {
    margin: 20px 80px 0 80px;
}

.footer_icons {
    margin: 0px 10px;
    font-size: 23px;
    color: gainsboro;
}


@media screen and (max-width: 680px) {
    .Intro {
        margin: 5px 15px;
    }

    .navEffect {
        text-align: right;
    }

    .part_2 {
        display: block;
        margin: 80px 20px 20px 20px;
    }

    .part_2_inside {
        margin: 20px;
    }

    .part_2_inside_h2 {
        margin-top: 45px;
    }

    .btn-contact {
        margin-top: 15px;
    }

    .first_Image {
        margin: 0px;
        padding: 0;
        width: 100%;
    }

    .aboutMe {
        padding: 20px 2px 0 2px;
    }

    .skills {
        margin: 0px 10px 50px 10px;
    }

    .slide {
        margin-bottom: 20px;
        /* margin-left: 200px; */
    }

    .slide2 {
        margin-bottom: 0px;
    }

    .padding {
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .img-slide {
        /* width:100%;  */
        margin-left: 120px;
        margin-bottom: 360px;
        margin-top: 0px;
    }

    .img-slide2 {
        /* width:100%;  */
        margin-left: 120px;
        margin-bottom: 650px;
        margin-top: 0px;
    }

    .img-slide3 {
        margin-left: 120px;
        margin-bottom: 460px;
        margin-top: 0px;
    }

    .img-slide4 {
        margin-left: 120px;
        margin-bottom: 460px;
        margin-top: 0px;
    }

    .img-slide5 {
        margin-left: 120px;
        margin-bottom: 300px;
        margin-top: 0px;
    }

    .img-slide6 {
        margin-left: 120px;
        margin-bottom: 300px;
        margin-top: 0px;
    }

    .img-slideLast {
        /* width:100%;  */
        margin-left: 120px;
        margin-bottom: 230px;
        margin-top: 0px;
    }

    .link-flex {
        display: block;
    }

    .btn-git {
        margin-top: 5px;
        padding: 15px 20px;
        color: antiquewhite;
        font-weight: 700;
        border: 0;
        border-radius: 8px;
        background-color: black;
    }

    .container-research {
        margin-bottom: 50px;
        margin-left: 25px;
    }

    .Contact-Div {
        display: block;
        margin-bottom: 0px;
    }

    .contactMe {
        color: rgba(212, 211, 211, 0.933);
        font-size: 19px;
        font-weight: 500;
        margin: 0 0px 0px 0;
        text-decoration: none;
    }

    .contactGrid {
        display: grid;
        grid-template-columns: auto auto;
        margin: 0px 0px 0px 0px;

    }

    .btn-live-link {
        margin-top: 20px;
        padding: 13px 20px;
        color: antiquewhite;
        font-weight: 700;
        border: 0;
        border-radius: 8px;
        background-color: black;
        margin-bottom: 10px;
    }


    .inputContacts {
        margin-top: 0px;
    }

    .contact-input {
        padding: 15px 125px 15px 35px;
        margin: 15px 0 5px 5px;
    }

    .contact-textArea {
        padding: 15px 145px 65px 35px;
        margin: 15px 0 5px 5px;
    }

    .btn-contactSubmit {
        margin: 10px;
        padding: 12px 30px;
        color: antiquewhite;
        font-weight: 700;
        border: 0;
        border-radius: 8px;
        background-color: rgba(137, 43, 226, 0.938);
    }

    .footer {
        display: block;
        text-align: top center;
        padding: 0px 0px 0px 0px;
        background-color: rgba(0, 0, 0, 0.95);
        color: azure;
    }

    .footer p {
        margin: 2px;
    }

    .inside-footer {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 10px;
        margin-right: 0px;
    }

    .second-part-footer {
        margin: 0px 0px 0px 0px;
    }

    .footer_p {
        margin: 10px 12px;
    }

    .third-part-footer {
        margin: 0px 0px 0 0px;
    }

    .footer_icons {
        margin: 10px 10px;
        font-size: 23px;
        color: gainsboro;
    }

    .resp-hidden {
        display: none;
    }
}